<div id="game-elm"></div>

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    new ElmRunner({
      channel: window.channel,
      element: document.getElementById('game-elm'),
      gameId: <%= @game_id %>
    }).run();
  });
</script>
