.loading {
  text-align: center;
}

.modal {
  @extend .drop-shadow;
  width: 40vw;
  min-width: 30em;

  .title {
    text-align: center;
    margin: 0 0 1.5vw;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

form {
  li {
    list-style-type: none;
    margin-bottom: 1.5em;

    label {
      display: block;
      margin: 0 0 .5em;
    }

    input[type=text] {
      font-size: 1.5em;
      padding: .5em;
      width: calc(100% - 1em);
    }

    input[type=submit] {
      color: $white;
      font-size: 1.5em;
      background: $red;
      padding: .5em;
      border: none;
      width: 100%;
      border-radius: 3px;
      font-family: $sans-serif-family;

      &[disabled] {
        background: desaturate($red, 40%);
        color: $light-gray;
      }
    }
  }

  .size-selector {
    display: flex;
    justify-content: space-between;

    a {
      font-family: $sans-serif-family;
      background: $brighter-blue;
      color: $white;
      border-radius: 3px;
      padding: .5em 1em;
      font-size: 1.5em;
      width: calc(33% - 4em);
      text-align: center;
      cursor: pointer;
    }
  }
}
