$dark-blue: #2C3E50;
$red: #E74C3C;
$light-gray: #ECF0F1;
$brighter-blue: #3498DB;
$bright-blue: #2980B9;
$white: #FFF;
$serif-family: "Lora", serif;
$sans-serif-family: "Open Sans Condensed", sans-serif;

h1, h2, h3, h4, h5, h6 {
  font-family: $sans-serif-family;
}

h2 {
  font-size: 2em;
}

.drop-shadow {
  box-shadow: 0 0 20px darken($dark-blue, 10%);
  background: $light-gray;
  border-radius: 4px;
  padding: 3vh 3vw;
}

@import "../vendor/normalize";
@import "layout";
@import "registration";

body {
  color: $dark-blue;
  font-family: $serif-family;
}

.hidden {
  display: none;
}

.full-board {
  @extend .drop-shadow;

  width: 85vw;
  height: 85vh;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.square-row {
  padding: 0;
  margin: 0;
  line-height: 0;
}

.square {
  &:nth-of-type(1) { margin-left: 0; }

  margin: 0;
  display: inline-block;
  padding: 0;
  position: relative;

  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    &:hover, &.claimed {
      cursor: pointer;
      background: darken($brighter-blue, 20%);
    }
  }
}

.side-right { right: 0; }
.side-bottom { bottom: 0; }

$size: 1.2vh;

.square {
  margin-left: -$size;
  margin-top: -$size;
  width: $size*5;
  height: $size*5;
}

.side-left, .side-right, .side-top, .side-bottom {
  width: $size;
  height: $size;
  background: $brighter-blue;
}

.side-left, .side-right {
  height: 100%;
}

.side-top, .side-bottom {
  width: 100%;
}

@media (max-width: 850px) {
  .full-board {
    justify-content: flex-start;
    flex-direction: column;
  }
}
